<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img
        src="https://i.pinimg.com/originals/01/ca/da/01cada77a0a7d326d85b7969fe26a728.jpg"
        alt="Logo"
        width="36"
        height="36"
        class="d-inline-block align-text-top"
      />
      <strong> Amazon</strong>
    </a>
    <ul class="navbar-nav mine-nav">
      <li class="nav-item">
        <a routerLink="Home">Home</a>
      </li>
      <li class="nav-item"><a routerLink="Products">Products</a></li>
      <li class="nav-item"><a routerLink="Users">Users</a></li>
      <li class="nav-item"><a routerLink="Contact">Contact Us</a></li>
      <li class="nav-item"><button routerLink="Login">Login</button></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
